* {
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
}

body {
    overflow-x: hidden;
}

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #295897;
    border-radius: 10px;
    padding: 10px;
    color: white;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.402);
}

#chatbot-icon {
    width: 40px;
    height: 40px;
    background-color: #FFCB45;
    color: #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

#chatbot-body {
    display: none;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
}

#chatbot-body .opcoes{
    /* height: 10vh; */
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.opt{
    width: 100%;
    /* background-color: #FFCB45; */
    border: 1.5px solid #FFCB45;
    height: 7vh;
    margin-bottom: 3%;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.opt:hover{
    background-color: #FFCB45;
    color: black;
    transform: scale(1.03);
}

#margin{
    margin-top: 5%;
}


header {
    /* position: absolute; */
    z-index: 99;
    height: fit-content;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/img-bannerHomeCadastrado.png);
    background-size: cover;
}

.container {
    width: 92%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    flex-direction: column;
}

.containerConteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    /* background-color: aliceblue; */
}

.containerConteudoCard{
    display: flex;
    width: 90%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
}

.container-navBar{
    display: flex;
    width: 90%;
    height: 10vh;

    /* background-color: white; */
}

.column{
    display: flex;
    flex-direction: column;
}

.left{
    display: flex;
    justify-content: left;
    align-items: left;
}

.NavBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.divNavBar{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
}

.divImgNavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    height: 10vh;

}

.divImgNavBar img{
    width: 100%;
    height: 14vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudoNavBar{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;

    /* background-color: #d2a83e; */
}

.divTexto a{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.divTexto #spanPag{
    border-bottom: 0.6vh solid #FFCB45;
}


.botao-login{
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;

}

.botao-login button {
    width: 12vw;
    height: 6vh;
    border-style: none;
    background-color: #FFCB45;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
}

.botao-login button:hover{
    font-weight: bold;
    background-color: #d2a83e;
    transform: scale(1.05);
    cursor: pointer;
}

.login-button img {
    height: 3vh;
    width: 1.5vw;
    margin-right: 12%;
}


.navBar {
    width: 90%;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 65%;
    align-self: baseline;
    justify-content: space-evenly;
    font-size: 3.0vh;
    font-weight: 700;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
}

#menu .agora {
    border-bottom: solid 0.6vh #FFCB45;
}

#menu a {
    color: white;
    text-decoration: none;
}

.navBar button {
    width: 12vw;
    height: 6vh;
    border-style: none;
    background-color: #FFCB45;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
}

.navBar button:hover {
    font-weight: bold;
    background-color: #d2a83e;
    transform: scale(1.05);
    cursor: pointer;
}

.navBar img {
    height: 15vh;
    width: 13vw;
}

.login-button img {
    height: 3vh;
    width: 1.5vw;
    margin-right: 12%;
}

/* BANNER BANNER BANNER BANNER BANNER */

.banner {
    width: 95%;
    height: 50vh;
    /* margin-bottom: 3%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bd-img-banner {
    z-index: -1;
    position: absolute;
    height: 85vh;
    width: 100%;

    
    
    /* backdrop-filter: blue(2px); */
}

.divBoxCadastro{
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;

}


.titulo {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    width: 90%;
    justify-content: space-evenly;
    margin-top: 10%;
    font-size: 3.0vh;
}

.text-titulo {
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 30vh;
}

.text-titulo h1{
    width: 100%;
    font-size: 10.5vh;
    color: white;
}

.text-titulo h1 span{
    color: #FFCB45;
}

.text-titulo p {
    margin-top: 5vh;
    width: 70%;
    color: white;
    font-weight: 100;
}

.text-titulo p span{
    color: #FFCB45;
}

.boxDivTitulo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;

    /* background-color: #295897; */
}

.pointer{
    cursor: pointer;
}

.divTitulo span{
    font-size: 46px;
    font-weight: bold;
    color: #021e46;
}

/*Inicio Agências*/

.divBoxAgencia{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;

    /* background-color: pink; */
}

.divAgencia{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;

    /* background-color: blue; */
}

.divTituloAgencia{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;

    /* background-color: red; */
}

.divTituloAgencia a{
    font-size: 35px;
    color: #2E4E86;

    margin: top;
}

.divLinhaCard{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    /* background-color: #FFCB45; */
}

.divBoxCard{
    display: flex;
    width: 25%;
    height: 25vh;
    align-items: center;
    /* background-color: #d2a83e; */

}

.cadastroForm{
display: flex;
flex-direction: column;
width: 100%;
height: 18vh;
}   

.divConteudoForm{
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonCard{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background: rgb(206,238,241);
    background: linear-gradient(90deg, rgba(206,238,241,1) 0%, rgba(84,94,159,1) 100%);
    border: none;

    
}

.divNome{
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
    width: 100%;
}

.buttonCard img{
    /* margin-left: 16%;
    margin-right: 3%; */
    height: 1vh;
    width: auto;
}



.buttonCard img {
    width: 5vw;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.buttonCard span{
    font-size: 35px;
    color: #2E4E86;
}
.containerButoesFormularios{
    height: 40vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 3%;
    justify-content: space-evenly;
    align-items: center;
}
.containerButoesFormularios button{
    width: 50%;
    padding: 3%;
    background-color: #295897;
    /* border-left: 4px #d2a83e solid;
    border-bottom: 2px  #d2a83e solid;  */
    border-top: none;
    border-right: none;
    border-radius: 10px;
    color: aliceblue;
    font-size: larger;
    cursor: pointer;
}
.containerButoesFormularios button:hover{
    transform: scale(1.05);
    font-weight: bold;
}

/* ///////////////////////////////////////////////////////////////// */
/*                   AVISOS                                        */
/* ///////////////////////////////////////////////////////////////// */

.aviso-item {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.aviso-vermelho {
    background-color: #ff4d4d;
    color: #fff;
}

.aviso-amarelo {
    background-color: #ffc107;
    color: #333;
}

.mural_avisos{

    position : fixed;
    right: 0;
}
